.item-container {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
}

.fitImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.checkbox-container {
  justify-content: center;
  text-align: center;
}
