.page-container {
  display: flex;
  padding: 2rem;
  justify-content: center;
}

.input-title {
  color: rgb(63, 186, 242);
  font-size: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  font-weight: 600;
}

.form-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 20px;
  padding: 20px;
}

.paragraph {
  color: rgb(70, 70, 255);
  font-size: 50px;
}

.shower-title {
  font-size: 2rem;
}

.input {
  padding: 1.5rem;
  font-size: 2rem;
  border-radius: 1rem;
}

/* Removing up/down arrows for number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.submit-button {
  padding: 2rem 4rem 2rem 4rem;
  font-size: 30px;
  border-radius: 25px;
}
