.home-title {
  color: rgb(0, 225, 229);
  font-size: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-top: 50px;
  padding-right: 5vw;
  line-height: 3vw;
  text-align: center;
}

.home-header {
  color: rgb(86, 251, 196);
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-left: 10vw;
  line-height: 4vw;
  text-align: center;
}

.home-logo {
  height: 600px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  animation: spin 1s infinite;
  pointer-events: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}