.home-title {
  color: rgb(0, 225, 229);
  font-size: 125px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-top: 50px;
  padding-right: 7vw;
  line-height: 3vw;
  text-align: center;
  text-shadow: 2px 2px black;
}

.home-header {
  color: rgb(86, 251, 196);
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-left: 10vw;
  line-height: 4vw;
  text-align: center;
  text-shadow: 2px 2px black;
}

.home-logo {
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: spin 10s infinite;
  pointer-events: none;
  text-align: center;
  margin-right: 250px;
  margin-top: 90px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
