.flex-parent-element {
  display: flex;
}

.flex-left-child-element {
  flex: 1;
  margin: 10px;
}

.flex-right-child-element {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin: 10px;
}

.flex-child-element:first-child {
  margin-right: 10px;
}